@import "../../../../../plugins/brainwave/assembly/node_modules/swiper/swiper-bundle.css";

@tailwind components;

@layer components {
    .container {
        @apply w-full resp-[w-max/1450] mx-auto resp-[px/15]
    }

    /*Topography*/
    .title-1 {
        @apply resp-[font/120/45] text-yellow resp-[line-height/101/120] font-ravels-extrabold
    }
    .title-2 {
        @apply
        resp-[font/65/25] text-black resp-[line-height/65/45]  font-ravels-medium
    }


    .title-2-violet span{
        @apply
        text-violet  font-ravels-black
    }

    .title-2-yellow span{
        @apply
        text-yellow  font-ravels-black
    }

    .title-2-white span{
        @apply
        text-darkWhite  font-ravels-black
    }


    .subtitle-1 {
        @apply
        resp-[font/84/30]  resp-[line-height/84/84] text-bg font-ravels-extrabold
    }

    .heading-1 {
        @apply
        resp-[font/16] text-black resp-[line-height/26/16] tracking-[0.03rem] font-poppins-regular
        tablet:resp-[line-height/28/16] tablet:tracking-[0.03375rem]
    }

    .text-1 {
        @apply
        resp-[font/25/18] text-white font-ravels-regular
    }

    .button {
        @apply resp-[font/16] text-black resp-[line-height/16/16] tracking-[0.03rem] text-center
        resp-[px/20] resp-[pb/16] resp-[w-min/195]  w-fit block  border-b-[1px]
    }

    header {
        @apply  flex-header z-50
    }

    main {
        @apply flex-main
    }

    footer {
        @apply flex-footer
    }

    body {
        @apply flex flex-col min-h-[100vh] desktopMin:pt-0
    }
    body.blured .blured {
        display: block;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }

    .cont {
        @apply
        px-[20px]
        desktopMin:px-[15px]
        mx-auto

        desktopMin:max-w-[calc(100%-80px)]
        desktop:max-w-[1200px]
        desktopMid:max-w-[1320px]
    }

    h1, .title-h1 {
        @apply
        font-gilroy-bold
        /*font-bold*/
        !text-[25px]/[1.2]
        desktopMin:!text-[30px]/[1.2]
        text-content
    }
    .title-h1{
        @apply
        mb-[30px]
    }

    h2 {
        @apply
        font-proximanova-bold
        /*font-bold*/
        !text-[25px]/[1.2]
        text-content
    }
    .title-h4 {
        @apply
        mb-[15px]
        desktopMin:mb-[20px]
        font-proximanova-bold
        /*font-bold*/
        text-[20px]/[1.2]
    }

    p, .text {
        @apply
        !mt-[10px]
        font-proximanova-light
        font-light
        text-[16px]/[1.5]
        text-content
    }

    .mp-button {
        @apply
        inline-block
        h-[50px]
        px-[30px]
        rounded-[40px]
        bg-accent
        hover:bg-accent_hover
        transition
        duration-100
        font-proximanova-bold
        /*font-bold*/
        text-white
        text-[15px]/[51px]
        uppercase
    }
    .mp-button.inversed {
        @apply
        bg-accent_hover
        hover:bg-accent
    }
    .mp-button-light {
        @apply
        bg-accent/10
        text-accent

        hover:bg-accent_hover/10
        hover:text-accent_hover
    }

    form input {
        @apply
        block
        w-full
        h-[40px]
        bg-[#F6F6F6]
        rounded-[10px]
        px-[15px]
        !outline-none
        !border-none

        font-proximanova-regular
        font-normal
        text-[14px]/[1]
        text-content
        placeholder:text-date
    }
    form textarea {
        @apply
        block
        w-full
        box-border
        !h-[110px]
        bg-[#F6F6F6]
        rounded-[10px]
        p-[15px]
        !outline-none
        !border-none

        font-proximanova-regular
        font-normal
        text-[14px]/[1]
        text-content
        placeholder:text-date
    }
    form input[type="submit"] {
        @apply
        block
        w-[158px]
        h-[50px]
        mt-[10px]
        pt-[2px]
        box-border
        cursor-pointer
        rounded-[40px]
        bg-accent
        hover:bg-accent_hover
        transition
        duration-100
        font-proximanova-bold
        /*font-bold*/
        text-white
        text-[15px]/[1]
        uppercase
    }
    form br, form .wpcf7-spinner {
        @apply
        hidden
    }

    .pagination {
        @apply
        mt-[30px]
        flex
        justify-center
        items-center
        gap-x-[20px]
    }
    .pagination .prev {
        @apply
        mr-[20px]
    }
    .pagination .next {
        @apply
        ml-[20px]
    }


    .pagination .prev,
    .pagination .next {
        @apply
        cursor-pointer
        flex
        justify-center
        items-center
        w-[24px]
        h-[24px]
        rounded-[50%]
        bg-[#E9E9E9]
        hover:bg-accent

        transition
        duration-100
    }
    .pagination .prev svg path,
    .pagination .next svg path {
        @apply
        transition
        duration-100
    }

    .pagination .nav-links {
        @apply
        flex
        justify-start
        items-center
        font-proximanova-regular
        text-[15px]/[1]
        text-black
    }
    .pagination .page-numbers:not(.next):not(.prev) {
        @apply
        block
        pt-[1px]
        px-[6px]
    }
    .pagination .page-numbers.current:not(.next):not(.prev) {
        @apply
        flex
        items-center
        rounded-[10px]
        h-[22px]
        px-[6px]
        bg-accent
        text-white
    }
}


body.fixed-header {
    padding-top: 70px;
}
header.fixed-white {
    position: relative;
    filter: none !important;
}
header .bg-white {
    filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.05));
}
header.fixed-white .bg-white {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 14;
}


.pagination .prev:hover svg path,
.pagination .next:hover svg path {
    stroke: white !important;
}
.scrollbar-hide::-webkit-scrollbar {
    width: 0;
}

.subtitle-1 {
    text-shadow:
            -1px -1px 0 #FCFF00,
            1px -1px 0 #FCFF00,
            -1px 1px 0 #FCFF00,
            1px 1px 0 #FCFF00;
}



.wpc-filters-widget-content .wpc-edit-filter-set,
.wpc-filters-widget-content .wpc-filters-section .wpc-filter-header,
.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item .wpc-term-count {
    display: none;
}

.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul:after {
    display: none;
}
.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul {
    padding-top: 0;
    max-height: none;

    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-family: 'ProximaNova-Bold',sans-serif;
    font-size: 16px;
    gap: 5px;
    justify-content: flex-start;
    margin-bottom: 45px;
}
.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item {
    margin-bottom: 0;
    float: none;
}
.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item label {
    margin: 0;
    border-radius: 20px;
    overflow: hidden;
    border-width: 1px;
    opacity: 1 !important;
}
.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item label span {
    cursor: pointer;
    line-height: 1.5;
    padding: 6px 17px 5px;
    opacity: 1 !important;
}
.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li input.wpc-label-input:checked+label span {
    padding-left: 36px;
}
.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item label span a {
    opacity: 1 !important;
}

.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item:nth-child(6n+1) label {
    border-color: rgb(88 170 235/1);
    color: rgb(88 170 235/1);
}
.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item:nth-child(6n+1):hover label span.wpc-filter-label-wrapper {
    background: rgb(88 170 235/1);
    color: #ffffff;
}
.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item:nth-child(6n+1) input.wpc-label-input:checked+label span.wpc-filter-label-wrapper {
    background: rgb(88 170 235/1) url(../images/svg/check1.svg) no-repeat 11px;
    color: #ffffff;
}

.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item:nth-child(6n+2) label {
    border-color: rgb(60 90 154/1);
    color: rgb(60 90 154/1);
}
.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item:nth-child(6n+2):hover label span.wpc-filter-label-wrapper {
    background: rgb(60 90 154/1);
    color: #ffffff;
}
.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item:nth-child(6n+2) input.wpc-label-input:checked+label span.wpc-filter-label-wrapper {
    background: rgb(60 90 154/1) url(../images/svg/check2.svg) no-repeat 11px;
    color: #ffffff;
}

.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item:nth-child(6n+3) label {
    border-color: rgb(100 161 193/1);
    color: rgb(100 161 193/1);
}
.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item:nth-child(6n+3):hover label span.wpc-filter-label-wrapper {
    background: rgb(100 161 193/1);
    color: #ffffff;
}
.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item:nth-child(6n+3) input.wpc-label-input:checked+label span.wpc-filter-label-wrapper {
    background: rgb(100 161 193/1) url(../images/svg/check3.svg) no-repeat 11px;
    color: #ffffff;
}

.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item:nth-child(6n+4) label {
    border-color: rgb(123 182 224/1);
    color: rgb(123 182 224/1);
}
.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item:nth-child(6n+4):hover label span.wpc-filter-label-wrapper {
    background: rgb(123 182 224/1);
    color: #ffffff;
}
.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item:nth-child(6n+4) input.wpc-label-input:checked+label span.wpc-filter-label-wrapper {
    background: rgb(123 182 224/1) url(../images/svg/check4.svg) no-repeat 11px;
    color: #ffffff;
}

.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item:nth-child(6n+5) label {
    border-color: rgb(134 134 134/1);
    color: rgb(134 134 134/1);
}
.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item:nth-child(6n+5):hover label span.wpc-filter-label-wrapper {
    background: rgb(134 134 134/1);
    color: #ffffff;
}
.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item:nth-child(6n+5) input.wpc-label-input:checked+label span.wpc-filter-label-wrapper {
    background: rgb(134 134 134/1) url(../images/svg/check5.svg) no-repeat 11px;
    color: #ffffff;
}

.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item:nth-child(6n+6) label {
    border-color: rgb(30 30 92/1);
    color: rgb(30 30 92/1);
}
.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item:nth-child(6n+6):hover label span.wpc-filter-label-wrapper {
    background: rgb(30 30 92/1);
    color: #ffffff;
}
.wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item:nth-child(6n+6) input.wpc-label-input:checked+label span.wpc-filter-label-wrapper {
    background: rgb(30 30 92/1) url(../images/svg/check6.svg) no-repeat 11px;
    color: #ffffff;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    display: none;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}
.swiper-pagination-bullet {
    position: relative;
    margin: 0;
    width: 15px;
    height: 15px;
    background: none !important;

    opacity: .36 !important;
}
.swiper-pagination-bullet:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #868686 !important;

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.swiper-pagination-bullet-active {
    opacity: 1 !important;
}


footer .subscribe_form_title {
    display: block;
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'ProximaNova-Light', sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #0F0F0F;
}
footer .wpcf7-form .wpcf7-form-control-wrap {
    display: block;
    margin-top: 20px;
}
footer .wpcf7-form input[type=email] {
    text-align: center;
}
footer .wpcf7-form input[type=submit] {
    margin-left: auto;
    margin-right: auto;
}

.contact-form textarea {
    margin-top: 10px;
}

@media only screen and (min-width: 1100px) {
    body.fixed-header {
        padding-top: 80px;
    }

    footer .subscribe_form_title {
        max-width: none;
        margin-left: 0;
        margin-right: 0;
        text-align: left;
    }
    footer .wpcf7-form input[type=email] {
        text-align: left
    }
    footer .wpcf7-form input[type=submit] {
        margin-left: 0;
        margin-right: 0;
    }


    .wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul {
        gap: 10px;
        margin-bottom: 35px;
    }
    .wpc-filters-widget-content .wpc-filters-section .wpc-filter-content ul li.wpc-term-item label span {
        padding-left: 20px;
        padding-right: 20px;
    }
}