@tailwind components;

@layer components {
    .mp-about-info .cont {
        @apply
        flex
        flex-col-reverse
        desktopMin:flex-row
        justify-between
        items-center
    }
    .mp-about-info ul {
        @apply
        flex
        justify-between
        desktopMin:justify-start
        items-start
    }
    .mp-about-info ul li {
        @apply
        relative
        w-1/3
    }
    .mp-about-info ul li div {
        @apply
        font-proximanova-bold
        /*font-bold*/
        text-[30px]/[2]
        desktopMin:text-[45px]/[2]
        text-accent
    }
    .mp-about-info ul li span {
        @apply
        font-proximanova-light
        font-light
        text-[16px]/[2]
        text-content
        absolute
        bottom-[-16px]
        desktopMin:bottom-[-7px]
        left-0
    }
}